body{
    font-family: 'Open sans', sans-serif;
    text-align: center;
    color:#828282;
    margin: 0;
}

.header{
    width: 626px;
    margin: 0 auto;
}
.header img{
    margin-top: 64px;
}
.header h1{
    font-family: 'Dosis', sans-serif;
    font-size: 32px;
    font-weight: normal;
    color: #3F3D56;
}
.header h1 > strong{
    color: #EE24FF;
    font-weight: bold;
}
.header p{
    width:540px;
    margin-left: 25px;
    font-size: 15px;
}
.header p > span{
    font-weight: bold;
    color:#3F3D56;
}
#liner{
    margin: 64px auto 0;
    width: 391px;
    border: 1px solid #ECEFF2;
}

.footer{
    width: 100%;
}

.footer a{
    text-decoration: none;
    margin-right: 50px;
    color: #3F3D56;
    font-weight: bold;
}

#img{
    margin-top: 40.83px;
    margin-bottom: -40.83px;
    width: 100%;
}